<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bf671">  <td>21/01/20 13:25:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests.MARS_weather(java.lang.String, java.lang.String)[pri:0, instance:tests.tests@6d2a209c]">MARS_weather</td> 
  <td>main@204715855</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/01/20 13:25:25</td>   <td>8150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests.MARS_weather(java.lang.String, java.lang.String)[pri:0, instance:tests.tests@6d2a209c]">MARS_weather</td> 
  <td>main@204715855</td>   <td></td> </tr>
</table>
