<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NASASuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fecb8b">  <td>21/01/20 15:26:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests.MARS_weather(java.lang.String, java.lang.String)[pri:0, instance:tests.tests@66f57048]">MARS_weather</td> 
  <td>main@540325452</td>   <td></td> </tr>
<tr bgcolor="fecb8b">  <td>21/01/20 15:26:50</td>   <td>6282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests.MARS_weather(java.lang.String, java.lang.String)[pri:0, instance:tests.tests@66f57048]">MARS_weather</td> 
  <td>main@540325452</td>   <td></td> </tr>
</table>
